<div class="container" *ngIf="weatherData[0]">
    <div [ngStyle]="{'background-color': weatherData[0].main.temp > 78 ? '#F28218' : '#1877F2'}" class="top">
      <br>
      <div class="search">
        <form #form="ngForm" (submit)="onSubmit(city)">
          <input type="text" placeholder="Search by city (Ex. Atlanta, Ga)" name="cityName" [(ngModel)]="cityName">
        </form>
      </div>
      <!-- <img style="width: 100%; height: 100%;" src="../assets/hot.jpg" alt="hot" *ngIf="temperature >= 70">
      <img style="width: 100%; height: 100%;" src="../assets//cold.jpg" alt="cold" *ngIf="temperature < 70"> -->
      <div class="weather-data">
        <div class="location">
          {{ cityName ? cityName : formatLocation('', false) }}
        </div>
        <div class="temperature">
          {{ weatherData[0].main.temp | number: '1.0-0' }} {{celsiusOrFahrenheit}}
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="weather-info-label">
        {{title}}
      </div>
      <div class="weather-info-container">
        <!-- create component, weather-widget -> params: (src: string, alt: string, label: string, detailsToDisplay: string) -->
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/min.png" alt="min-temperature">
            <span>Low</span>
          </div>
          <div class="info-block-value">
            {{ weatherData[0].main.temp_min | number: '1.0-0' }} {{celsiusOrFahrenheit}}
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/max.png" alt="max-temperature">
            <span>High</span>
          </div>
          <div class="info-block-value">
            {{ weatherData[0].main.temp_max | number: '1.0-0' }} {{celsiusOrFahrenheit}}
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/humidity.png" alt="humidity">
            <span>Humidity</span>
          </div>
          <div class="info-block-value">
            {{weatherData[0].main.humidity}} %
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/wind.png" alt="wind-speed">
            <span>Wind Speed</span>
          </div>
          <div class="info-block-value">
            {{weatherData[0].wind.speed}} mph
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- NO WEATHER DATA YET -->
  <div class="container" *ngIf="!weatherData">
    <div [ngStyle]="{'background-color': '#1877F2'}" class="top">
      <!-- <img style="width: 100%; height: 100%;" src="../assets/hot.jpg" alt="hot" *ngIf="temperature >= 70">
      <img style="width: 100%; height: 100%;" src="../assets//cold.jpg" alt="cold" *ngIf="temperature < 70"> -->
      <div class="weather-data">
        <div class="location">
          City, State, US
        </div>
        <div class="temperature">
          -- {{celsiusOrFahrenheit}}
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="weather-info-label">
        {{title}}
      </div>
      <div class="weather-info-container">
        <!-- component, weather-widget -> params: (src: string, alt: string, label: string, detailsToDisplay: string) -->
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/min.png" alt="min-temperature">
            <span>Low</span>
          </div>
          <div class="info-block-value">
            -- {{celsiusOrFahrenheit}}
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/max.png" alt="max-temperature">
            <span>High</span>
          </div>
          <div class="info-block-value">
            -- {{celsiusOrFahrenheit}}
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/humidity.png" alt="humidity">
            <span>Humidity</span>
          </div>
          <div class="info-block-value">
            --
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/wind.png" alt="wind-speed">
            <span>Wind Speed</span>
          </div>
          <div class="info-block-value">
            --
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>